.eslintcache
.DS_Store
.thumbs.db
node_modules

# Quasar core related directories
.quasar
/dist

# Cordova related directories and files
/src-cordova/node_modules
/src-cordova/platforms
/src-cordova/plugins
/src-cordova/www

# Capacitor related directories and files
/src-capacitor/www
/src-capacitor/node_modules

# BEX related directories and files
/src-bex/www
/src-bex/js/core

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln

packages/frontend/dist/*
packages/server/dist
.DS_Store
.lintcache
packages/server/data
.eslintcache

packages/frontend/src/assets/fonts/nyTnjDwKNJ_190FjzaqkNCeE.woff2
fonttools/*